{%extends 'healthyhoos/base.html'%}
{% block content %}
<div class="container text-center" style="height: 80vh; width: 90vw;">
    <h1>About The Developers</h1>
    <p>
        Welcome to our group's personal information page. We are a team of passionate
        individuals focused on creating interesting projects that we believe will succeed.
    </p>
    <p>
        This project was built through Django, Python, Bootstrap, HTML, and CSS while utilizing
        Google's login and calendar API's to provide smooth Google suite integration!
    </p>
    <p>
        We are all University of Virginia students with a major in Computer Science, exploring the
        11th hackathon hosted by HooHacks. Creating an engaging web application and building full stack
        development skills are some of the key reasons we decided to participate in this year's hackathon,
        as well as the opportunity to meet so many other talented individuals
    </p>
    <p> - Meet the team that made this happen - </p>
    <ul>
        <li>Rui Zhang</li>
        <li>Drew Csontos</li>
        <li>Akira Durham</li>
    </ul>
</div>
{% endblock %}