{%extends 'healthyhoos/base.html'%}
<div style="display: flex; justify-content: center;">
    <a href="/healthyhoos/mental-health" style="margin: 0 10px; padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; text-align: center; text-decoration: none; font-size: 16px; transition-duration: 0.4s;">Mental Health</a>
    <a href="/healthyhoos/physical-health" style="margin: 0 10px; padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; text-align: center; text-decoration: none; font-size: 16px; transition-duration: 0.4s;">Physical Health</a>
    <a href="/healthyhoos/nutrition" style="margin: 0 10px; padding: 10px 20px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; text-align: center; text-decoration: none; font-size: 16px; transition-duration: 0.4s;">Nutrition</a>
</div>