{%extends 'healthyhoos/base.html'%}
{% block content %}
<div class="container-fluid border d-flex justify-content-center" style="height: 85vh; align-items: center;">
    <div class="row border align-items-center m-0">
        <div class="col border text-center">
            <a href="/healthyhoos/mental-health" class="btn btn-primary btn-block" style="background-color: rgb(255, 0, 0); color: black; border-color: rgb(255, 0, 0); color;">Mental</a>
        </div>
        <div class="col"></div>
        <div class="col border text-center">
            <a href="/healthyhoos/physical-health" class="btn btn-primary btn-block ">Physical</a>
        </div>
        <div class="col"></div>
        <div class="col border text-center">
            <a href="/healthyhoos/nutrition" class="btn btn-primary btn-block">Nutrition</a>
        </div>
    </div>
</div>
{% endblock %}
