{%extends 'healthyhoos/base.html'%}
{% block content %}
<div class="container text-center align-items: center;">
    <p>
        <ul>
            <ol style="padding-bottom: 3vh;">
                Prioritizing mental health is about honoring our feelings, finding balance amidst the chaos, and discovering our ability to navigate life's challenges.
            </ol>
            <ol style="padding-bottom: 3vh;">
                Embracing physical health means cherishing our bodies, embracing movement and activity, and being free to explore the world.
            </ol>
            <ol style="padding-bottom: 3vh;">
                Focusing on nutritional health involves nurturing our bodies with replenishing foods and fueling our adventures with clean energy.
            </ol>
        </ul>
    </p>
</div>
<div class="container-fluid d-flex justify-content-center" style="height: 35vh; align-items: center;">
    <div class="row align-items-center m-0" style="height: 20vh; width: 75vw;">
        <div class="col text-center">
            <a href="/healthyhoos/mental-health" class="btn btn-primary btn-lg" style="background-color: rgb(139, 50, 186); color: black; border-color: rgb(139, 50, 186);">Mental</a>
        </div>
        <div class="col text-center">
            <a href="/healthyhoos/physical-health" class="btn btn-primary btn-lg" style="background-color: rgb(184, 54, 50); color: black; border-color: rgb(184, 54, 50);">Physical</a>
        </div>
        <div class="col text-center">
            <a href="/healthyhoos/nutrition" class="btn btn-primary btn-lg" style="background-color: rgb(90, 173, 112); color: black; border-color: rgb(90, 173, 112);">Nutrition</a>
        </div>
    </div>
</div>
{% endblock %}
