{%extends 'healthyhoos/base.html'%}
{% block content %}
<div class="container text-center">
    <h1>
        Welcome to YouFirst!
    </h1>
    <p>
        Here at YouFirst, we believe that personal health starts with 3 main categories:
        mental, physical, and nutritional values. This application is designed to give you
        the tools needed to boost your lifestyle, offering friendly competition through
        leaderboards as well as groups to collaborate and join in the journey together!
        Create an account with us and explore our app!
    </p>
</div>
{% endblock %}